<!DOCTYPE html>
<html lang="en-US"><head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
  <body style="font-family:'Lato',Arial,sans-serif; font-size: 16px !important;">
<div class="container-fluid">
 <div class="row">
   <div class="col-4">
     <img src="logo.jpeg" style="width:100%" alt="Logo">
   </div>
   <div class="col-8">
      <div style="margin-top:20px">
         <div class="row">
           <p>Access is Key are fully qualified and trained to the highest standard by UK Locksmith Association, with extensive knowledge on home security and crime prevention we offer a friendly, local and competitively priced locksmith service.</p>

           <p>Areas that we cover include South East London and surrounding, if your unsure if we would cover your area give us a call <strong>07530525757</strong></p>

            <ul>
              <li>ARE YOU LOCKED OUT?</li>
              <li>NEED A 24 HOUR EMERGENCY COMPANY?</li>
              <li>FAULTY LOCKS?</li>
              <li>LOCK CHANGE?</li>
              <li>UPVC / COMPOSITE DOOR JAMMED?
            Non destruction entry is how we always attempt to gain entry first, with the very best value options first.</li>
            </ul>

            <p>We care as much as you do!</p>

            <p>Give Corinne a call on to get a free no obligation quote 07530525757</p>

            <p><strong>OCTOBER SPECIAL - NO CALL OUT FEE</strong></p>

         </div>
         <div class="row text-center" style="background-color:black;color: white;">
             <div class="col-12" style="padding-top:10px">
                  <h2> Services </h3>
             </div>
         </div>
        
        <div class="row" style="background-color:black;color: white;">
          <div class="col-4">
            <h4>Emergency Lockouts</h4>
            <p>If you have locked your self out, Access is Key can gain entry using a number of tried and tested methods to gain entry quickly. Give our professional locksmith a call on 07530525757</p>
          </div>
          <div class="col-4">
            <h4>Lock replacement</h4>
            <p>If your key has snapped off, or gotten damaged Access is key are able to assist in gaining entry and replacing the lock. 
Choice between well known brands as well as colour.
Like for like or security upgrade.</p>
          </div>
          <div class="col-4">
            <h4>PVC doors</h4>
              <p>Entry can be gained if part of the locking system has failed.</p>
              <p>Replacement parts available and able to be changed including handles.</p>
          </div>
        </div>
   </div>
  </div>
  </div>        
</div>
</body>
</html>
